[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "productivity"]
	path = productivity
	url = https://github.com/cran/productivity
[submodule "sfadv"]
	path = sfadv
	url = https://github.com/cran/sfadv
